@charset "UTF-8";
// BEM 不能在BEM中使用元素选择器和ID选择器
// Block: what is it?--menu or button--可嵌套、复用   不影响自身布局
// Element: why is it?--表示目的 block-name__element-name
// Modifier: what dose it look like? block-name__element-name_modifier-name
$white-color: #FFF;
$color-blue: #1A73E8;
$color-btn-hover: #4285F4;
$font-color: #8B8B8B;
$color-error: #A94442;

// common.css
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px #fff;
}
button{
    font-family: "SimHei";
}
.login-box {
    // background: $white-color;border-radius: 5px;padding: 15px;
    background: rgba(216, 216, 216, 0);border-radius: 5px;padding: 15px;
}
.flex-box {
    display: flex;justify-content: space-between;align-items: center;
}
.input-box__item {
    margin: 10px;position: relative;padding-top: 5px;
    // display: flex;justify-content: space-between;align-items: center;
    input {
        height: 54px;width: 100%;outline: none;border: none; border: 1px solid #DCDCDC;padding: 0 10px;border-radius: 4px; font-size: 20px;
    }
    label {
        display: inline-block;color: $font-color;position: absolute;left: 10px;top: 20px;cursor: text;transition: all 0.3s;padding: 0 5px;font-size: 17px;font-weight: 500
    }
    .label-focus {
        border: 2px solid $color-blue;
    }
    .label-focus-error {
        border: 2px solid $color-error;
    }
    .label-font-color {
        color: $color-blue !important;
    }
    .label-font-color-error {
        color: $color-error !important;
    }
    .stop_move {
        top: -3px;color: $font-color;
        background-color: $white-color;
        font-size: 15px;
    }
    a {
        font-size: 18px;
        color: $color-blue;
        cursor: pointer;
    }
    button {
        background-color: $color-blue;
        border: none;
        &:hover {
            background-color: $color-btn-hover;
        }
    }
}
