@charset "UTF-8";
// BEM 不能在BEM中使用元素选择器和ID选择器
// Block: what is it?--menu or button--可嵌套、复用   不影响自身布局
// Element: why is it?--表示目的 block-name__element-name
// Modifier: what dose it look like? block-name__element-name_modifier-name
$white-color: #FFF;
$color-blue: #1A73E8;
$font-color: #8B8B8B;

// common.css
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px #fff;
}
button{
    font-family: "SimHei";
}
.login-box {
    background: $white-color;border-radius: 5px;padding: 15px;
}
.input-box__item {
    margin: 10px;position: relative;padding-top: 5px;
    input {
        height: 50px;width: 100%;outline: none;border: none; border: 1px solid #DCDCDC;padding: 0 10px;border-radius: 10px;
    }
    label {
        display: inline-block;color: $font-color;position: absolute;left: 10px;top: 35px;cursor: text;transition: all 0.3s;padding: 0 5px;
    }
    .label-focus {
        border: 3px solid $color-blue;
    }
    .label-font-color {
        color: $color-blue !important;
    }
    .stop_move {
        top: 8px;color: $font-color;

        background-color: $white-color;
    }
}
